<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="dbIP" value="wwwawos.imgw.ad"/>
    <add key="dbAWOS" value="db_awos"/>
    <add key="Katalog" value="C:\GITLAB_PROJECTS\AWOS_GRAPH\"/>
    <add key="ad.imgw.dsspws.Service1" value="http://dsspws.imgw.ad:3333/Service1.asmx"/>
    <add key="ChartImageHandler" value="storage=file;timeout=30;dir=C:\GITLAB_PROJECTS\AWOS_GRAPH\;"/>
  </appSettings>
  <!--
    Aby uzyskać opis zmian pliku web.config, zobacz http://go.microsoft.com/fwlink/?LinkId=235367.

    Następujące atrybuty mogą zostać ustawione przy użyciu tagu <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation batchTimeout="1500" debug="true" optimizeCompilations="true" targetFramework="4.7">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2880"/>
    </authentication>
    <machineKey decryptionKey="AD8537361F02125ED9C9DB938D328D21F103492C91C940F1" validation="SHA1" validationKey="13454996C963859565A2F9BB8C9FC3300A835EE2BD0F2605F9D670E78984BA1920C364A8B01BCD1352F177FCEDE70B4C9D45F391CCB256ED6CB20B3C7C1D95D0"/>
    <customErrors mode="Off"/>
    <sessionState mode="InProc" sqlConnectionString="OraAspNetConString" stateConnectionString="tcpip=127.0.0.1:80" stateNetworkTimeout="240" useHostingIdentity="false" compressionEnabled="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <globalization culture="pl-PL" enableClientBasedCulture="true" fileEncoding="windows-1250" requestEncoding="windows-1250" responseEncoding="windows-1250" responseHeaderEncoding="windows-1250" uiCulture="pl-PL"/>
  </system.web>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="assets">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
    </staticContent>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>